body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: #dff5e8;
}
.header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}
.header > .logo {
  height: 30px;
  width: 30px;
}
.header > .meniu {
  margin: 5px;
}
.header > .meniu > .link {
  margin: 5px;
}
.content {
}
.content > .hero-img {
  float: left;
  height: 500px;
}
.content > .hero-text {
  float: right;
  margin-top: 100px;
  margin-right: 100px;
}
.content > .hero-text > .main-title {
  margin-bottom: 100px;
}
.content > .hero-text > .main-description {
}
