@import "./3rd_parties/font-awesome.min.css";
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.header {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  margin: 0 20px;
}
.header > .kalbos {
  font-size: 20px;
  color: #8194e1;
}

.header > .prisijungimai {
  font-size: 20px;
  color: #8194e1;
}

.content {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.content > .logo {
  width: 70px;
  margin-top: 8px;
}

.content > .registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  gap: 15px;
}
.content > .borderbox {
  border-left: dashed;
  height: 50%;
  padding: 9px;
}

.content > .registration > .input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.content > .registration > .input input[type="date"] {
  width: 100%;
  color: gray;
}

.content > .registration > .input-gender {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content > .registration > .input-gender > .gender {
  font-size: 20px;
  color: gray;
  margin-right: 30px;
}
.content > .registration > .input input[type="email"] {
  width: 100%;
}
.content > .registration > .input input {
  background-color: aqua;
  font-size: 20px;
}
.content > .registration > .input input[type="text"] {
  width: 100%;
}
.content > .registration > .input input[type="tel"] {
  width: 100%;
}
.content > .registration > .input label[for="termsandcond"] {
  color: gray;
  font-size: 20px;
  margin-left: 10px;
}
button {
  font-size: 25px;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
}
.footer {
  background-color: darkslateblue;
  height: 20px;
  display: flex;
  justify-content: center;
}
